!!! 5
html
    head
        title Topics.io API documentation
        meta(name='description', content='Documentation, how to use topics.io API')
        meta(name='keywords', content='topic, free API, relevant news, news aggregator, curation, documentation')

        link(rel='stylesheet', href='http://static.topics.io/static/css/bootstrap.css')
        link(rel='stylesheet', href='http://static.topics.io/static/css/topicsio.css')
        
        link(rel='stylesheet', href='/explorer/stylesheets/prettify.css')
        link(rel='stylesheet', href='/explorer/stylesheets/methods-style.css')
        
        link(rel='icon', href='/static/images/favicon.png', type="image/png")
        

        | <script type="text/javascript">
        |   var _gaq = _gaq || [];
        |   _gaq.push(['_setAccount', 'UA-27860418-1']);
        |   _gaq.push(['_trackPageview']);
        |   (function() {
        |     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        |     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        |     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        |   })();
        | </script>

    body
        .topbar
          .fill
            .container
              h1
                a(href='/', class='brand') Topics.io&nbsp;<small>API</small>
        .container
          .content
            ul(class='breadcrumb')
              li
                a(href='/docs') Docs
                span(class='divider') /
              li(class='active') API explorer
            !{body}
          footer
            ul
              li: a(href='#') &copy; Topics.io 2011
              li: a(href='mailto:contact@mail.topics.io', title='email contact') Contact
              li: a(href='https://twitter.com/#!/topicsio', target='_blank') Follow us on Twitter
            
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/explorer/javascripts/json2.js')
        script(src='/explorer/javascripts/prettify.js')
        script(src='/explorer/javascripts/utilities.js')
        script(src='/explorer/javascripts/livedocs.js')
        script(src='/explorer/javascripts/docs.js')
        
        |<script type="text/javascript" charset="utf-8">
        |  var is_ssl = ("https:" == document.location.protocol);
        |  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
        |  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
        |</script>
        |<script type="text/javascript" charset="utf-8">
        |  var feedback_widget_options = {};
        |  feedback_widget_options.display = "overlay";  
        |  feedback_widget_options.company = "topicsio";
        |  feedback_widget_options.placement = "left";
        |  feedback_widget_options.color = "#222";
        |  feedback_widget_options.style = "idea";
        |  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
        |</script>
