!!! 5
html
    head
        title Topics.io API documentation
        meta(name='description', content='Documentation, how to use topics.io API')
        meta(name='keywords', content='topic, free API, relevant news, news aggregator, curation, documentation')

        link(rel='stylesheet', href='http://static.topics.io/static/css/bootstrap.css')
        link(rel='stylesheet', href='http://static.topics.io/static/css/topicsio.css')
        
        link(rel='stylesheet', href='/explorer/stylesheets/prettify.css')
        link(rel='stylesheet', href='/explorer/stylesheets/methods-style.css')
        

        | <script type="text/javascript">
        |   var _gaq = _gaq || [];
        |   _gaq.push(['_setAccount', 'UA-27860418-1']);
        |   _gaq.push(['_trackPageview']);
        |   (function() {
        |     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        |     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        |     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        |   })();
        | </script>

    body
        .topbar
          .fill
            .container
              h1
                a(href='/', class='brand') Topics.io&nbsp;<small>API</small>
              ul.nav
                li
                  a(href='/') Home
                li(class=(apiDefinition?'':'active'))
                  a(href='/overview') Overview
                li(class=(apiDefinition?'active':''))
                  a(href='/explorer') API reference
        .container
          .content
            !{body}
          footer
            ul
              li: a(href='#') &copy; Topics.io 2011
              li: a(href='mailto:contact@mail.topics.io', title='email contact') Contact
              li: a(href='https://twitter.com/#!/topicsio', target='_blank') Follow us on Twitter
            
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/explorer/javascripts/json2.js')
        script(src='/explorer/javascripts/prettify.js')
        script(src='/explorer/javascripts/utilities.js')
        script(src='/explorer/javascripts/livedocs.js')
        script(src='/explorer/javascripts/docs.js')
