

body,
select,
input,
textarea {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content a, .content a:active, .content a:visited {
color: #607890;
text-decoration: underline;
}

.endpoint {
    padding:10px;

}

a:link {
-webkit-tap-highlight-color: #ff5e99;
}

select, input, input[type="file"] {
height: 20px;
padding-top:0px;
padding-bottom:0px;
}

h3 {
    text-transform: capitalize;
    line-height: 18px;
    color: #444;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin-left: 0;
  color:inherit;
}

.credentials {
  background-color: #f4f4e1;
  border: 1px solid #cbcb71;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
  padding: 15px;
}

.credentials.authed {
  background-color: #d6f6bd;
  border-color: #86bf6a;
  padding: 10px;
}

.credentials.authed form {
  display: none;
}

.credentials img {
  margin-left: 10px;
}

.credentials h2 {
  margin-bottom: 0;
}

.credentials div {
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.credentials form {
  margin-top: 10px;
}

.credentials label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
  display: none;
}

.credentials input {
  width: 200px;
}

.credentials #oauth-auth {
  margin-top: 20px;
}

#controls {
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
  border: 1px solid #DDD;
  border-width: 1px 0;
  padding: 10px 0;
}

#controls li {
  padding-right: 10px;
  float: left;
}

#controls li:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

.endpoint {
  margin: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  *zoom: 1;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.endpoint.expanded {
  background-color: #fff;
}

.endpoint > .title {
  font-weight: normal;
  padding: 20px 0 10px 10px;
  overflow: hidden;
  *zoom: 1;
}

.endpoint > .title .name {
  font-size: 18px;
  float: left;
}

.endpoint > .title .name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.endpoint > .title .method-actions {
  float: right;
  font-size: 13px;
}

.endpoint > .title .method-actions li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #ddd;
}

.endpoint > .title .method-actions li:first-child {
  border: 0;
}

.methods {
  display: block;
}

.method {
  font-size: 14px;
  border: 1px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  /*    &.authrequired .http-method {
          background-image: url(/images/lock.png);
          background-repeat: no-repeat;
          background-position: 7px 50%;
      }*/
}

.method div.headers {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
}

.method div.headers h4 {
  margin-top: 0;
}

.method div.headers .fields {
  display: none;
  padding: 0 15px;
  margin-bottom: 15px;
}

.method div.headers .indicator {
  border-width: 5px;
  border-color: transparent transparent transparent #333;
  border-style: solid;
  display: block;
  float: left;
  margin: 11px 0 0 10px;
}

.method div.headers.expanded .indicator {
  border-color: #333 transparent transparent transparent;
  margin-top: 14px;
}

.method:first-of-type {
  margin-top: 0;
}

.method .title {
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.method .title:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.method .title:hover span {
  text-decoration: underline;
}

.method .title:hover span.http-method {
  text-decoration: none;
}

.method .title span {
  margin: 0 10px 0;
  line-height: 33px;
  float: left;
}

.method .title .uri {
  color: #777;
}

.method .title .name {
  font-size: 16px;
}

.method .title .description {
  float: right;
  font-size: 12px;
  text-align: right;
}

.method .title .http-method {
  padding: 0 10px;
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  line-height: 33px;
  float: left;
}

.method form {
  clear: both;
  padding: 15px;
  display: none;
}

.method form a.clear-results {
  color: red;
  margin-left: 20px;
  font-size: 12px;
}

.method form a.clear-results:hover {
  background-color: red;
  color: #fff;
}

.method table {
  margin-bottom: 15px;
  width: 100%;
  font-size: 14px;
}

.method tr.required td {
  font-weight: bold;
}

.method th {
  font-weight: bold;
  text-align: left;
}
/* line 569, scss/style.scss */
.method th, .method td {
  padding: 5px;
  vertical-align: middle;
}

.method td, .method pre {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
}

.method td.description {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.method td.type {
  font-size: 12px;
}

.method h4 {
  margin-top: 15px;
  margin-bottom: 3px;
}

.method h4 a.select-all {
  font-size: 12px;
  margin-left: 15px;
}

.method pre {
  font-size: 12px;
  padding: 10px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
}

.method pre.response {
  max-height: 500px;
}

.method pre.prettyprint {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.method pre.error {
  background-color: rgba(255, 245, 245, 0.9);
  border-color: rgba(255, 100, 100, 0.5);
}

.get {
  background: #e7f0f7;
  border-color: #aecce4;
}

.get .http-method {
  background-color: #0061ac;
}

.get th, .get td {
  border-bottom: 1px solid #9ac0de;
}

.post {
  background: #e7f6ec;
  border-color: #afe1c0;
}

.post .http-method {
  background-color: #04a73a;
}

.post th, .post td {
  border-bottom: 1px solid #9ddab1;
}

.put {
  background: #f9f2e9;
  border-color: #e9cead;
}

.put .http-method {
  background-color: #b06300;
}

.put th, .put td {
  border-bottom: 1px solid #e3c399;
}

.delete {
  background: #f5e8e8;
  border-color: #deb3b3;
}

.delete .http-method {
  background-color: #a20909;
}

.delete th, .delete td {
  border-bottom: 1px solid #d6a1a1;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
